* {
  margin: 0;
  padding: 0; }

#wrapper .welcomeContainer {
  background-image: url("./images/backgroundwallpaper.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh; }
  #wrapper .welcomeContainer .header {
    background-color: rgba(240, 240, 240, 0.4); }
    #wrapper .welcomeContainer .header nav ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      list-style: none; }
      #wrapper .welcomeContainer .header nav ul li {
        padding: 1%;
        margin: 1%; }

#wrapper .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: #2e4535;
  color: white;
  text-align: center; }
  #wrapper .footer a {
    color: white;
    font-size: large;
    padding: 5px; }
