@charset "UTF-8";
/*Mixins för responsivteten på sidan*/
/*Variabler som används till flexade element*/
/*Styling av en div som innehåller en välkomstext*/
/*Variabler som används till flexade element*/
/*Div som innehåller en pil som länkar till alla produkter som ligger under pilen.*/
/*Mixins för responsivteten på sidan*/
/*Variabler som används till flexade element*/
/*Mixin som hantera allt responsivt inom welcomeContainer-div:en*/
/*Mixins för responsivteten på sidan*/
/*Variabler som används till flexade element*/
/*Allt inom min navbar*/
/*Variabler som används till flexade element*/
/*Variabler som används till flexade element*/
/*Mixins för responsivteten på sidan*/
/*Variabler som används till flexade element*/
/*Variabler som används till flexade element*/
/*Styling för hur en produkts info ska visas upp på sidan product.html inom div:en showProductDiv*/
/*Mixins för responsivteten på sidan*/
/*Variabler som används till flexade element*/
/*Responsiv styling av product.html inom div:en showProductDiv*/
/*Variabler som används till flexade element*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth; }

@font-face {
  font-family: MerryChristmasStar;
  src: url(../css/fonts/MerryChristmasStar.ttf); }

#wrapper {
  font-family: Helvetica;
  background-color: #cccccc;
  /*För surfplattor*/
  /*För desktops*/ }
  #wrapper .welcomeContainer {
    /*Basstyling för hela welcomeContainer-div:en*/
    background-image: url("images/backgroundwallpaper.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*För surfplattor*/
    /*För desktops*/ }
    #wrapper .welcomeContainer .menu {
      background-color: rgba(240, 240, 240, 0.6);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      /*headern för loggan*/
      /*Alla li länkar i navbaren*/
      /*Denna klass aktiveras när hamburgar-ikonen klickas i*/
      /*Hela hamburgar-ikonen*/ }
      #wrapper .welcomeContainer .menu li {
        font-size: 16px;
        padding: 15px 5px;
        white-space: nowrap; }
        #wrapper .welcomeContainer .menu li a {
          color: black;
          text-decoration: none; }
        #wrapper .welcomeContainer .menu li a:hover {
          text-decoration: underline; }
      #wrapper .welcomeContainer .menu .logo {
        font-family: larger Arno Pro, Tribun ADF Std, serif;
        font-style: italic; }
        #wrapper .welcomeContainer .menu .logo a:hover {
          text-decoration: none;
          color: red;
          transition: color 0.2s ease-out; }
        #wrapper .welcomeContainer .menu .logo a {
          font-size: 25px;
          color: #165B33; }
      #wrapper .welcomeContainer .menu .item {
        width: 100%;
        text-align: center;
        order: 3;
        display: none; }
        #wrapper .welcomeContainer .menu .item a:hover {
          color: red;
          transition: color 0.2s ease; }
      #wrapper .welcomeContainer .menu .item.button {
        order: 2;
        transition: all .2s ease; }
      #wrapper .welcomeContainer .menu .item.active {
        display: flex;
        flex-direction: column;
        transition: height .2s ease; }
      #wrapper .welcomeContainer .menu .toggle {
        cursor: pointer;
        order: 1;
        margin-right: 1.5%;
        margin-bottom: 1.5%;
        /*Hamburgar-ikonen är gjorda med tre streck som heter bars*/ }
        #wrapper .welcomeContainer .menu .toggle .bars {
          background: #165B33;
          display: inline-block;
          height: 2px;
          position: relative;
          width: 18px; }
        #wrapper .welcomeContainer .menu .toggle .bars:before,
        #wrapper .welcomeContainer .menu .toggle .bars:after {
          background: #165B33;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          width: 100%; }
        #wrapper .welcomeContainer .menu .toggle .bars:before {
          top: 5px; }
        #wrapper .welcomeContainer .menu .toggle .bars:after {
          top: -5px; }
    @media screen and (min-width: 768px) {
      #wrapper .welcomeContainer .menu {
        justify-content: center; }
        #wrapper .welcomeContainer .menu .logo {
          flex: 1; }
        #wrapper .welcomeContainer .menu .item.button {
          width: auto;
          order: 1;
          display: block; }
        #wrapper .welcomeContainer .menu .toggle {
          order: 2; } }
    @media screen and (min-width: 1024px) {
      #wrapper .welcomeContainer .menu .item {
        display: block;
        width: auto; }
      #wrapper .welcomeContainer .menu .logo {
        order: 0; }
      #wrapper .welcomeContainer .menu .item {
        order: 1; }
      #wrapper .welcomeContainer .menu li {
        padding: 15px 10px; }
      #wrapper .welcomeContainer .menu .toggle {
        display: none; }
      #wrapper .welcomeContainer .menu .menu li.button {
        padding-right: 0; } }
    #wrapper .welcomeContainer .welcomeSectionContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 25vh; }
      #wrapper .welcomeContainer .welcomeSectionContainer .welcomeSection {
        padding: 6%;
        font-family: Helvetica;
        text-align: center;
        color: #CC231E;
        font-size: 20px; }
        #wrapper .welcomeContainer .welcomeSectionContainer .welcomeSection h1 {
          font-family: MerryChristmasStar;
          font-size: 4em;
          color: #CC231E; }
        #wrapper .welcomeContainer .welcomeSectionContainer .welcomeSection p {
          margin-top: 5%; }
    #wrapper .welcomeContainer .arrowDivContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.5%; }
      #wrapper .welcomeContainer .arrowDivContainer .arrowDiv a {
        color: #f5624d; }
      #wrapper .welcomeContainer .arrowDivContainer .arrowDiv a:hover {
        color: #FBF5E9;
        transition: color 0.2s ease-in-out; }
  #wrapper .menu {
    background-color: rgba(240, 240, 240, 0.6);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    /*headern för loggan*/
    /*Alla li länkar i navbaren*/
    /*Denna klass aktiveras när hamburgar-ikonen klickas i*/
    /*Hela hamburgar-ikonen*/ }
    #wrapper .menu li {
      font-size: 16px;
      padding: 15px 5px;
      white-space: nowrap; }
      #wrapper .menu li a {
        color: black;
        text-decoration: none; }
      #wrapper .menu li a:hover {
        text-decoration: underline; }
    #wrapper .menu .logo {
      font-family: larger Arno Pro, Tribun ADF Std, serif;
      font-style: italic; }
      #wrapper .menu .logo a:hover {
        text-decoration: none;
        color: red;
        transition: color 0.2s ease-out; }
      #wrapper .menu .logo a {
        font-size: 25px;
        color: #165B33; }
    #wrapper .menu .item {
      width: 100%;
      text-align: center;
      order: 3;
      display: none; }
      #wrapper .menu .item a:hover {
        color: red;
        transition: color 0.2s ease; }
    #wrapper .menu .item.button {
      order: 2;
      transition: all .2s ease; }
    #wrapper .menu .item.active {
      display: flex;
      flex-direction: column;
      transition: height .2s ease; }
    #wrapper .menu .toggle {
      cursor: pointer;
      order: 1;
      margin-right: 1.5%;
      margin-bottom: 1.5%;
      /*Hamburgar-ikonen är gjorda med tre streck som heter bars*/ }
      #wrapper .menu .toggle .bars {
        background: #165B33;
        display: inline-block;
        height: 2px;
        position: relative;
        width: 18px; }
      #wrapper .menu .toggle .bars:before,
      #wrapper .menu .toggle .bars:after {
        background: #165B33;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%; }
      #wrapper .menu .toggle .bars:before {
        top: 5px; }
      #wrapper .menu .toggle .bars:after {
        top: -5px; }
  @media screen and (min-width: 768px) {
    #wrapper .menu {
      justify-content: center; }
      #wrapper .menu .logo {
        flex: 1; }
      #wrapper .menu .item.button {
        width: auto;
        order: 1;
        display: block; }
      #wrapper .menu .toggle {
        order: 2; } }
  @media screen and (min-width: 1024px) {
    #wrapper .menu .item {
      display: block;
      width: auto; }
    #wrapper .menu .logo {
      order: 0; }
    #wrapper .menu .item {
      order: 1; }
    #wrapper .menu li {
      padding: 15px 10px; }
    #wrapper .menu .toggle {
      display: none; }
    #wrapper .menu .menu li.button {
      padding-right: 0; } }
  #wrapper #showProductDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    background-color: rgba(31, 61, 31, 0.326); }
    #wrapper #showProductDiv .itemTitleAndImageDiv {
      width: 49vh;
      text-align: center;
      margin-top: 2%;
      margin-bottom: 2%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #wrapper #showProductDiv .itemTitleAndImageDiv img {
        width: 45vh;
        height: 70vh;
        border-radius: 50%; }
    #wrapper #showProductDiv .descriptionsAndPriceDiv {
      padding-top: 0.5%;
      padding-bottom: 2%;
      width: 40vh;
      height: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
      #wrapper #showProductDiv .descriptionsAndPriceDiv h1 {
        text-align: center; }
      #wrapper #showProductDiv .descriptionsAndPriceDiv #addToShoppingCartOnProductSite {
        width: 49%;
        height: 20%;
        text-align: center;
        padding: 5%;
        background-color: #165B33;
        color: #FBF5E9;
        cursor: pointer;
        border: none;
        font-family: larger Arno Pro, Tribun ADF Std, serif;
        font-style: italic;
        border-radius: 50%;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      #wrapper #showProductDiv .descriptionsAndPriceDiv #addToShoppingCartOnProductSite:hover {
        background-color: #BB2528;
        transition: background-color 0.4s ease-in-out;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  @media screen and (min-width: 1024px) {
    #wrapper #showProductDiv {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 2%; }
      #wrapper #showProductDiv .itemTitleAndImageDiv {
        margin-top: 2%;
        margin-bottom: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        #wrapper #showProductDiv .itemTitleAndImageDiv img {
          width: 45vh;
          height: 70vh;
          border-radius: 50%; }
      #wrapper #showProductDiv .descriptionsAndPriceDiv {
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start; } }
  #wrapper .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    #wrapper .main .fa-shopping-cart:hover {
      cursor: pointer;
      color: #606060; }
    #wrapper .main h1 {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      padding-top: 2%; }
    #wrapper .main #productlist {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-bottom: 5vh; }
      #wrapper .main #productlist li {
        list-style: none;
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        #wrapper .main #productlist li img {
          width: 50%;
          cursor: pointer; }
        #wrapper .main #productlist li p {
          font-family: 'Poppins', sans-serif;
          font-weight: 200; }
        #wrapper .main #productlist li i {
          cursor: pointer; }
    @media screen and (min-width: 768px) {
      #wrapper .main #productlist {
        flex-direction: row;
        flex-wrap: wrap; }
        #wrapper .main #productlist li {
          width: 50%; } }
  @media screen and (min-width: 768px) {
    #wrapper #productlist {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      #wrapper #productlist li {
        width: 50%; }
        #wrapper #productlist li img {
          width: 60%; } }
  @media screen and (min-width: 1024px) {
    #wrapper #productlist li {
      width: 30%; }
      #wrapper #productlist li img {
        width: 50%; } }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #2e4535;
  color: white;
  text-align: center;
  min-height: 10vh; }
  .footer div {
    margin: 10px; }
  .footer a {
    color: white;
    font-size: large;
    padding: 5px; }

@media screen and (min-width: 400px) {
  .footer {
    flex-direction: row;
    padding: 10px 0px 10px; } }

.checkoutContainer {
  color: #2e4535;
  min-height: 90vh; }
  .checkoutContainer .menu {
    background-color: rgba(240, 240, 240, 0.6);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    /*headern för loggan*/
    /*Alla li länkar i navbaren*/
    /*Denna klass aktiveras när hamburgar-ikonen klickas i*/
    /*Hela hamburgar-ikonen*/ }
    .checkoutContainer .menu li {
      font-size: 16px;
      padding: 15px 5px;
      white-space: nowrap; }
      .checkoutContainer .menu li a {
        color: black;
        text-decoration: none; }
      .checkoutContainer .menu li a:hover {
        text-decoration: underline; }
    .checkoutContainer .menu .logo {
      font-family: larger Arno Pro, Tribun ADF Std, serif;
      font-style: italic; }
      .checkoutContainer .menu .logo a:hover {
        text-decoration: none;
        color: red;
        transition: color 0.2s ease-out; }
      .checkoutContainer .menu .logo a {
        font-size: 25px;
        color: #165B33; }
    .checkoutContainer .menu .item {
      width: 100%;
      text-align: center;
      order: 3;
      display: none; }
      .checkoutContainer .menu .item a:hover {
        color: red;
        transition: color 0.2s ease; }
    .checkoutContainer .menu .item.button {
      order: 2;
      transition: all .2s ease; }
    .checkoutContainer .menu .item.active {
      display: flex;
      flex-direction: column;
      transition: height .2s ease; }
    .checkoutContainer .menu .toggle {
      cursor: pointer;
      order: 1;
      margin-right: 1.5%;
      margin-bottom: 1.5%;
      /*Hamburgar-ikonen är gjorda med tre streck som heter bars*/ }
      .checkoutContainer .menu .toggle .bars {
        background: #165B33;
        display: inline-block;
        height: 2px;
        position: relative;
        width: 18px; }
      .checkoutContainer .menu .toggle .bars:before,
      .checkoutContainer .menu .toggle .bars:after {
        background: #165B33;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%; }
      .checkoutContainer .menu .toggle .bars:before {
        top: 5px; }
      .checkoutContainer .menu .toggle .bars:after {
        top: -5px; }
  .checkoutContainer .checkoutMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; }
    .checkoutContainer .checkoutMain .shoppingCart {
      padding-top: 20px;
      width: 100%; }
      .checkoutContainer .checkoutMain .shoppingCart .productDiv {
        display: flex;
        justify-content: space-evenly;
        margin: 10px; }
        .checkoutContainer .checkoutMain .shoppingCart .productDiv .productImageCheckout {
          width: 50%; }
        .checkoutContainer .checkoutMain .shoppingCart .productDiv .containerInfoAmount {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 50%; }
          .checkoutContainer .checkoutMain .shoppingCart .productDiv .containerInfoAmount .productInfo {
            display: flex;
            flex-direction: column; }
          .checkoutContainer .checkoutMain .shoppingCart .productDiv .containerInfoAmount .productAmount {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 20px; }
            .checkoutContainer .checkoutMain .shoppingCart .productDiv .containerInfoAmount .productAmount p {
              padding: 5px; }
            .checkoutContainer .checkoutMain .shoppingCart .productDiv .containerInfoAmount .productAmount button {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px;
              height: 20px;
              width: 20px;
              border-radius: 25px; }
      .checkoutContainer .checkoutMain .shoppingCart .emptyCheckoutCart {
        display: flex;
        justify-content: center;
        color: rgba(255, 255, 255, 0.707); }
    .checkoutContainer .checkoutMain .totalDiv {
      margin: auto;
      margin-right: 0;
      display: flex;
      flex-direction: column;
      padding: 10px; }
      .checkoutContainer .checkoutMain .totalDiv p {
        align-self: flex-end;
        margin: 10px;
        font-weight: bold;
        font-size: large; }
      .checkoutContainer .checkoutMain .totalDiv .checkoutBtn {
        display: flex;
        align-items: center; }
        .checkoutContainer .checkoutMain .totalDiv .checkoutBtn a {
          text-decoration: none;
          color: gray;
          margin-right: 10px; }
          .checkoutContainer .checkoutMain .totalDiv .checkoutBtn a:hover {
            text-decoration: underline; }
        .checkoutContainer .checkoutMain .totalDiv .checkoutBtn button {
          border-radius: 25px;
          padding: 5px; }
  @media screen and (min-width: 768px) {
    .checkoutContainer .productImageCheckout {
      width: 30% !important; }
    .checkoutContainer .containerInfoAmount {
      flex-direction: row !important;
      justify-content: space-around !important; } }
  @media screen and (min-width: 1024px) {
    .checkoutContainer .shoppingCart {
      width: 80% !important; }
      .checkoutContainer .shoppingCart .productDiv {
        display: flex;
        justify-content: space-evenly;
        margin: 10px; }
        .checkoutContainer .shoppingCart .productDiv .productImageCheckout {
          width: 20% !important;
          background-color: white; }
        .checkoutContainer .shoppingCart .productDiv .containerInfoAmount {
          flex-direction: row !important;
          justify-content: space-around !important; }
          .checkoutContainer .shoppingCart .productDiv .containerInfoAmount .productInfo {
            display: flex;
            flex-direction: row-reverse; } }

.confirmContainer {
  background-color: rgba(31, 61, 31, 0.326);
  color: #2e4535;
  height: auto;
  min-height: 90vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column; }
  .confirmContainer .menu {
    background-color: rgba(240, 240, 240, 0.6);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    /*headern för loggan*/
    /*Alla li länkar i navbaren*/
    /*Denna klass aktiveras när hamburgar-ikonen klickas i*/
    /*Hela hamburgar-ikonen*/ }
    .confirmContainer .menu li {
      font-size: 16px;
      padding: 15px 5px;
      white-space: nowrap; }
      .confirmContainer .menu li a {
        color: black;
        text-decoration: none; }
      .confirmContainer .menu li a:hover {
        text-decoration: underline; }
    .confirmContainer .menu .logo {
      font-family: larger Arno Pro, Tribun ADF Std, serif;
      font-style: italic; }
      .confirmContainer .menu .logo a:hover {
        text-decoration: none;
        color: red;
        transition: color 0.2s ease-out; }
      .confirmContainer .menu .logo a {
        font-size: 25px;
        color: #165B33; }
    .confirmContainer .menu .item {
      width: 100%;
      text-align: center;
      order: 3;
      display: none; }
      .confirmContainer .menu .item a:hover {
        color: red;
        transition: color 0.2s ease; }
    .confirmContainer .menu .item.button {
      order: 2;
      transition: all .2s ease; }
    .confirmContainer .menu .item.active {
      display: flex;
      flex-direction: column;
      transition: height .2s ease; }
    .confirmContainer .menu .toggle {
      cursor: pointer;
      order: 1;
      margin-right: 1.5%;
      margin-bottom: 1.5%;
      /*Hamburgar-ikonen är gjorda med tre streck som heter bars*/ }
      .confirmContainer .menu .toggle .bars {
        background: #165B33;
        display: inline-block;
        height: 2px;
        position: relative;
        width: 18px; }
      .confirmContainer .menu .toggle .bars:before,
      .confirmContainer .menu .toggle .bars:after {
        background: #165B33;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%; }
      .confirmContainer .menu .toggle .bars:before {
        top: 5px; }
      .confirmContainer .menu .toggle .bars:after {
        top: -5px; }
  .confirmContainer .confirmMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh; }
    .confirmContainer .confirmMain p {
      padding: 20px; }
    .confirmContainer .confirmMain a {
      position: absolute;
      bottom: 20vh;
      color: grey; }

.paymentContainer {
  background-color: rgba(31, 61, 31, 0.326);
  color: #2e4535;
  height: auto;
  min-height: 90vh;
  background-position: center;
  background-size: cover; }
  .paymentContainer .paymentMain {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .paymentContainer .paymentMain h1 {
      padding: 15px; }
    .paymentContainer .paymentMain form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 10px; }
      .paymentContainer .paymentMain form input {
        width: 75%;
        padding: 10px;
        margin-top: 5px; }
    .paymentContainer .paymentMain i {
      font-size: x-large; }
    .paymentContainer .paymentMain .paymentBtn {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-left: auto;
      margin-right: 15%;
      padding-top: 5vh; }
      .paymentContainer .paymentMain .paymentBtn a {
        text-decoration: none;
        color: gray;
        margin-right: 10px; }
        .paymentContainer .paymentMain .paymentBtn a:hover {
          text-decoration: underline; }
      .paymentContainer .paymentMain .paymentBtn button {
        border-radius: 25px;
        margin-top: 10px;
        padding: 5px; }

/*Klassen som finns i JQuerys egna bibliotek. La till custom styling*/
.ui-dialog {
  background-color: #FFFAFA;
  font-family: larger Arno Pro, Tribun ADF Std, serif;
  font-style: italic; }

.ui-widget-header {
  background-color: #c02204;
  color: #FFFAFA;
  font-size: 25px; }

/*Egna div:en som skapas inom dialogrutan*/
#shoppingCartWindow .shoppingCartContainer .shoppingCartTitles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
  align-items: center; }

#shoppingCartWindow .shoppingCartContainer .shoppingCartItemDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5%;
  margin-bottom: 2.5%; }
  #shoppingCartWindow .shoppingCartContainer .shoppingCartItemDiv .nameAndImageSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 31%; }
    #shoppingCartWindow .shoppingCartContainer .shoppingCartItemDiv .nameAndImageSection img {
      width: 45px;
      height: 70px; }
  #shoppingCartWindow .shoppingCartContainer .shoppingCartItemDiv .countDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 11%; }
    #shoppingCartWindow .shoppingCartContainer .shoppingCartItemDiv .countDiv .addOrRemoveIcons {
      cursor: pointer; }
  #shoppingCartWindow .shoppingCartContainer .shoppingCartItemDiv .priceDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%; }
    #shoppingCartWindow .shoppingCartContainer .shoppingCartItemDiv .priceDiv .trashicon:hover {
      color: red;
      cursor: pointer;
      transition: color .2s ease-in-out; }

#shoppingCartWindow .shoppingCartContainer .shoppingCartTotalPriceDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%; }

#shoppingCartWindow .shoppingCartContainer .shoppingCartButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%; }
  #shoppingCartWindow .shoppingCartContainer .shoppingCartButtonDiv .shoppingCartButtons {
    width: 49%;
    height: 20%;
    text-align: center;
    padding: 5%;
    background-color: #165B33;
    color: #FBF5E9;
    cursor: pointer;
    border: none;
    font-family: larger Arno Pro, Tribun ADF Std, serif;
    font-style: italic;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  #shoppingCartWindow .shoppingCartContainer .shoppingCartButtonDiv .shoppingCartButtons:hover {
    background-color: #BB2528;
    transition: background-color 0.4s ease-in-out;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  #shoppingCartWindow .shoppingCartContainer .shoppingCartButtonDiv #goToCheckout {
    text-decoration: none;
    color: #FBF5E9;
    border: none; }
