@import './mixins';
 
* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

@font-face{
    font-family: MerryChristmasStar;
    src: url(Webshop\css\fonts\MerryChristmasStar.ttf);
}

#wrapper {
    .checkoutContainer {

        background-color: rgba(31, 61, 31, 0.326);
        height: auto;
        min-height: 100vh;
        background-position: center; 
        background-size: cover;

        display: flex; 
        flex-direction: column;

        .menu {
            background: rgba(240,240,240,0.6);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            
            li {
                font-size: 16px;
                padding: 15px 5px;
                white-space: nowrap;
               

                a {
                    color: black;
                    font-family:  Helvetica;
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                }
            }   

            .logo { 
                
                a:hover {
                    text-decoration: none;
                    color: red;
                    transition: color 0.2s ease-out;
                }
                a {
                    font-size: 25px;
                    color: darkred;
                }
            }
            .item.button {
                order: 2;
            }
            .item {
                width: 100%;
                text-align: center;
                order: 3;
                display: none;
               
                a:hover{
                    color: red;
                    transition: color 0.2s ease-out;
                }
            }
            .item.active {
                display: block;
            }
            

            .toggle {
                cursor:pointer;
                order: 1;
                margin-right: 1.5%;
                margin-bottom: 1.5%;
    
                .bars {
                    background: white;
                    display: inline-block;
                    height: 2px;
                    position: relative;
                    transition: background .2s ease-out;
                    width: 18px;

                }
                .bars:before,
                .bars:after {
                    background: white;
                    content: '';
                    display: block;
                    height: 100%;
                    position: absolute;
                    transition: background .2s ease-out;
                    width: 100%;
                }
                .bars:before {
                    top: 5px;
                }
                .bars:after {
                    top: -5px;
                }
            }    
        }

        .checkoutMain {
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;

            h1 {
                color: rgb(46, 69, 53);            
            }

            .shoppingCart {
                padding-top: 30px;
                width: 100%;

                .productDiv {
                    display: flex;
                    justify-content: space-between;
                    margin: 10px;
                    height: 200px;

                    .productImageCheckout {
                        height: 200px;
                        width: 150px;
                        background-color: white;
                    }

                    .productInfo {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        width: 20%;
                    }

                    .productAmount {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        width: 20%;

                        p {
                            padding: 5px;
                        }

                        button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 20px;
                            width: 20px;
                            border-radius: 25px;
                        }
                    }
                }

                .emptyCheckoutCart {
                    display: flex;
                    justify-content: center;
                    color: white;
                }
            }

            .totalDiv {
                margin: auto;
                margin-right: 0;
                display: flex;
                flex-direction: column;
                padding: 10px;

                p {
                    align-self: flex-end;
                    margin: 10px;
                    font-weight: bold;
                    font-size: large;
                }
                           
                .checkoutBtn {
                    display: flex;
                    align-items: center;
                    a {
                        text-decoration: none;
                        color: gray;
                        margin-right: 10px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    button {
                        border-radius: 25px;
                        padding: 5px;
                    }
                }
            }
        }

        @include tabletsOnly {
            .menu {
                justify-content: center;
                .logo {
                    flex: 1;
                }
                .item.button {
                    width: auto;
                    order: 1;
                    display: block;
                }
                .toggle {
                    order: 2;
                }
            }
        }

        @include desktopsOnly { 
            .menu {
                .item {
                    display: block;
                    width: auto;
                }
                .logo {
                    order: 0;
                }
                .item {
                    order: 1;
                }
                li {
                    padding: 15px 10px;
                }
                .toggle {
                    display: none;
                }
                .menu li.button {
                    padding-right: 0;
                } 
            } 

            .checkoutMain {
                width: 90%;
                margin: auto;
            }

        }
    }

    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
        background-color: rgb(46, 69, 53);
        color: white;
        text-align: center;

        a {
            color: white;
            font-size: large;
            padding: 5px;
        }
    }
}