@import './mixins';
@import './variables';
 
* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

@font-face{
    font-family: MerryChristmasStar;
    src: url(../css/fonts/MerryChristmasStar.ttf);
}

#wrapper {
    .welcomeContainer {

        /*Basstyling för hela welcomeContainer-div:en*/
        background-image: url("images/backgroundwallpaper.jpg");
        height: 100vh;
        background-position: center;
        background-size: cover;

        font-family:  Helvetica;

        display: $useFlex;
        flex-direction: $useFlexDirectionColumn;
        justify-content: $useSpaceBetween;
        
        @include menu;

        @include welcomeContainerResponsive;
        
        @include merryChristmasContainer;
            
        @include arrowDiv;

    }



}
#shoppingCartWindow {
    .shoppingCartContainer {
        .shoppingCartTitles {
            display: $useFlex;
            flex-direction: $useFlexDirectionRow;
            justify-content: $useSpaceBetween;
            margin-bottom: 5%;
            align-items: $useCenterForFlex;
        }
        .shoppingCartItemDiv {
            display: $useFlex;
            flex-direction: $useFlexDirectionRow;
            justify-content: $useSpaceBetween;
            align-items: $useCenterForFlex;
            margin-top: 2.5%;
            margin-bottom: 2.5%;

            .nameAndImageSection {
                display: $useFlex;
                flex-direction: $useFlexDirectionRow;
                justify-content: space-evenly;
                align-items: $useCenterForFlex;
                width: 31%;
                img {
                    width: 45px;
                    height: 70px;
                }
    
            }
            .countDiv {
                display: $useFlex;
                flex-direction: $useFlexDirectionRow; 
                justify-content: $useSpaceBetween;
                width: 11%;
            }
            .priceDiv {
                display: $useFlex;
                flex-direction: $useFlexDirectionRow;
                justify-content: $useSpaceBetween;         
                width: 20%;
                .trashicon:hover {
                    color: red;
                    cursor: pointer;
                    transition: color .2s ease-in-out;
                }
            }
        }
        .shoppingCartTotalPriceDiv {
            display: $useFlex;
            flex-direction: $useFlexDirectionRow;
            justify-content: flex-end;
            align-items: $useCenterForFlex;
            margin-top: 5%;
            margin-bottom: 5%;
        }
        .shoppingCartButtonDiv {
            display: $useFlex;
            flex-direction: $useFlexDirectionRow;
            justify-content: $useSpaceBetween;
            align-items: $useCenterForFlex;
            margin-top: 2%;
            margin-bottom: 2%;
        }
    }
}