$navbarHoverColor: red;
$navBarColor : rgba(240,240,240,0.6);
$navBarColorLinks: black;
$navBarLogoColor: #165B33;
$hamburgerColor: white;
$welcomeContainerH1Color: #CC231E;
$welcomeContainerTextColor: #FBF5E9;
$arrowColor: #f5624d;



