/*Variabler som används till flexade element*/
$useFlex: flex;
$useFlexDirectionColumn: column;
$useFlexDirectionRow: row;
$useSpaceBetween: space-between;
$useSpaceEvenly: space-evenly;
$useCenterForFlex: center;